@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="text-center">
    <h1 class="display-4">Razor Pages - Register</h1>
    <br />
    <h2>by @Model.FullName</h2>
</header>
<form method="post" class="mx-auto" style="width:200px">
    <p class="col-sm-4">
        <label for="name">Name</label>
        <input type="text" asp-for="FullName" required="true" placeholder="Name">
    </p>
    <p class="col-sm-4">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email adress" required="true">
    </p>
    <p class="col-sm-2">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </p>
    <p class="col-sm-12">
        @ViewData["Message"]
    </p>
</form>